{% extends "base.html" %}

{% block body %}
<a href="/aircraft/" class="btn btn-primary" style="margin-bottom: 10px" tabindex="-1" role="button" aria-disabled="true">Back to Aircraft</a>

<h1>Aircraft ID: {{a_id}}</h1>

<ol>
    <div class="alert alert-dark" role="alert">
        <li>Type: {{dict_aircraft[a_id].aircraft_type}}</li>
    </div>

    <div class="alert alert-dark" role="alert">
        <li>Flight status: {{dict_aircraft[a_id].flight}}</li>
    </div>

    <div class="alert alert-dark" role="alert">
        <li>Passenger Capacity: {{dict_aircraft[a_id].flight_capacity}}</li>
    </div>

</ol>

<a href="{{url_for('aircraft_assign_to_flight', a_id=a_id)}}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Assign to a flight</a>
{% endblock %}