{% extends "base.html" %}

{% block title %}New Aircraft{% endblock %}

{% block body %}
<a href="/aircraft/" class="btn btn-primary" style="margin-bottom: 10px" tabindex="-1" role="button" aria-disabled="true">Back to Aircraft</a>
<form action="{{ url_for('aircraft_new')}}" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Type</label>
    <input type="text" class="form-control" name="type" id="Type" placeholder="heli or plane.">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Capacity</label>
    <input type="number" class="form-control"  name="capacity" id="Capacity" placeholder="eg. 200">
  </div>
  <input  class="btn btn-primary" style="margin-bottom: 10px" type="submit" value="Confirm">
</form>

{% endblock %}